body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid lightgrey;
}

.textbox {
  width: 440px;
  height: 390px;
  padding: 30px;
  overflow: auto;
  font-size: 1.2rem;
  text-align: left;
}

.inputbox {
  height: 50px;
}

input {
  width: 300px;
  height: 45px;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  border: none;
  border-top: 1px solid lightgrey;
}

#invalidinput {
  position: relative;
  background-color: lightcoral;
  width: 300px;
  height: 30px;
  margin: auto;
  margin-top: -45px;
  font-size: 1.5rem;
  padding-top: 10px;
  border-radius: 4px;
  transition: all 0.05s ease-in-out;
}

.wrapper {
  position: absolute;
  left: 60vw;
  top: 25px;
  width: 300px;
  height: 350px;
}

.instructionsicon {
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}

.instructionsicon:hover {
  color: rgb(102, 102, 102);
}

.instructionbox {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85rem;
  padding-top: 5px;
  padding-left: 20px;
  border: 1px rgb(102, 102, 102) solid;
  border-radius: 4px;
}

.instructiontitle {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 200;
}

/* TRANSITIONS */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
